
.photo
{
    height: 100px;
    width: 100px;
    border: 1px solid black;
}

.container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.content
{
    text-align: center;
}

.registerTable
{
    width: 500px;
   
}

.myHeader
{
    background-color:orangered;
}

.myFooter
{
    background-color:green;
}

